#contactInMenu {
    background-color: yellowgreen;
    font-size: 20px;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -25px;
    }
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    text-decoration: underline;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    background-color: #5e5eb2;
}

.navbar-default .navbar-header > a {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
    padding: 15px;
    background-color: #5e5eb2;
    height: 100%;
    text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar {
    background: #0098D5;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-fixed-top {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.banner {
    text-align: center;
    background-image: url(../images/background-1-freedesignfile.com.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
}

#scroll-text {
    margin-top: 90px;
}

#scroll-text ul li {
    /* text-transform: uppercase; */
    font-family: Montserrat, "Helvetica Neu`", Helvetica, Arial, sans-serif;
    font-weight: bold;
    /* color: #2A3745; */
    color: #0098D5;
    font-size: 44px;
}

.banner-text h2 {
    /* text-transform: uppercase; */
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #0098D5;
    font-size: 40px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .banner-text h2 {
        font-size: 25px;
    }
}

.banner-text h4 {
    color: #1788c9;
    font-size: 25px;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.banner-text h4 a {
    color: #1788c9;
    text-decoration: underline;
}

.banner-text h4 a:hover {
    color: #1788c9;
}

@media (max-width: 768px) {
    #scroll-text {
        margin-top: 60px;
        height: 51px !important;
    }

    #scroll-text ul li {
        font-size: 34px;
    }

    .banner-text h4 {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    #scroll-text {
        margin-top: 40px;
        height: 30px !important;
    }

    #scroll-text ul li {
        font-size: 20px;
    }

    .banner .banner-text hr.star-light {
        border-width: 2px;
        max-width: 200px;
    }

    .banner {
        background-image: none;
        /* background: linear-gradient(135deg, skyblue, white 30%, white 70%,skyblue); */
        background: radial-gradient(white 60%, skyblue);
    }

    .banner-text h4 {
        font-size: 16px;
    }
}


form.subscribe {
    width: 80%;

    text-align: left;
    /* overflow: auto; */
    margin: 40px auto 0px auto;
}

.no-gutter {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
}

input#subscribeemail {
    height: 45px;
    font-size: 18px;
    background-color: white;
}

#subscribemsg {
    color: #00BD9C;
    font-size: 20px;
    background-color: #273745;

    width: 70%;
    padding: 0 0 0 20px;
}

button.subscribe {
    height: 45px;

    font-size: 20px;
    border: 2px solid white;
    border-radius: 6px;
    color: #b56224;
    background-color: white;
}

button.subscribe:hover {
    cursor: pointer;
    background-color: #00BD9C;
    color: white;
}

hr.star-light,
hr.star-primary {
    max-width: 250px;
    border: none;
    margin-bottom: 40px;
}

hr.star-light {
    border-top: solid white 5px;
}

hr.star-primary {
    border-top: solid #2C3E50 5px;
}

hr.star-primary:after,
hr.star-light:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -0.8em;
    padding: 0 0.25em;
    font-family: FontAwesome;
    font-size: 2em;
}

.banner hr.star-light {
    border-top: solid #0098D5 5px;
}

.banner hr.star-light:after {
    color: #0098D5;
    background-color: white;
}

hr.star-light:after {
    color: white;
    /* background-color: #18bc9c; */
    background-color: #00ABBB;
}

hr.star-primary:after {
    color: #2C3E50;
    background-color: #fff;
}

/* coders */

#coders {
    height: 600px;
    overflow-y: auto;

    padding: 80px 50px;
    text-align: center;
}

.photo {
    display: inline-block;
    width: 93px;
    height: 93px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 50%;

    text-align: center;
    line-height: 93px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;

    -webkit-transition: -webkit-transform 0.5s linear;

    transition: -webkit-transform 0.5s linear;

    transition: transform 0.5s linear;

    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
    margin: 10px;

    font-size: 15px;
}

.photo:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    text-decoration: none;
    color: black;
}

.photo.boy {
    background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(deepskyblue));
    background: linear-gradient(skyblue, deepskyblue);
}


.photo.boy.special {
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(redorange));
    background: linear-gradient(red, redorange);
}

.photo.girl {
    background: -webkit-gradient(linear, left top, left bottom, from(lightpink), to(hotpink));
    background: linear-gradient(lightpink, hotpink);
}

/* competition results */

section#competition_results {
    padding-top: 50px;
    text-align: center;
}

section#competition_results .results {
    height: 600px;
    overflow: auto;
}

section#competition_results table caption {
    text-align: center;
    font-size: 30px;
    color: black;
}

section#competition_results table td {
    font-size: 20px;
    padding: 3px;
    width: 100px;
}

section#competition_results table td span.name {
    background-color: lime;
    display: inline-block;
    width: 100px;
    border-radius: 10px;
}

/* progress */

section#progress {
    text-align: center;
    padding: 50px 5px;
    padding-right: 20px;
}

#progress .student_progress {
    height: 600px;
    overflow: auto;
}

#progress tr:hover {
    border: solid blue;
}

#progress td {
    padding-top: 10px;
    padding-bottom: 9px;
}

td.y {
    background-color: lime;
}

td.n {
    background-color: yellow;
}

/* video */

section#video {
    text-align: center;
    padding: 20px 0px;
    margin: 0 auto;
    background-color: #E4E4E4;
}

#video h1 {
    color: #2C3E50;

    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 40px;
}

.video-container {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    width: 70%;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* @media screen and (max-width: 768px) { */

/* #youtube_video_why { */

/*    width: 60%; */

/*    height: 60%; */

/* } */

/* } */

/* portfolio */

section#portfolio {
    text-align: center;
    padding: 20px;
}

#portfolio .portfoliomain {
    width: 80%;
    margin: auto;
}

@media screen and (max-width:990px) {
    #portfolio .portfoliomain {
        width: 100%;
    }
}


#portfolio h1 {
    color: #2C3E50;

    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 40px;
}

#portfolio .courseintro {
    overflow: auto;
}

#portfolio .coursecol {
    /* width: 25%;*/
    /* if set width, float left wont' float to very left end.*/
    /* min-width: 360px; */
    /* float: left; */
    /* margin-bottom: 40px; */
}

@media screen and (max-width:768px) {
    #portfolio .coursecol img {
        width: 30%;
    }
}



#portfolio .coursecol .coursedesc {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;

    /* margin-top: 20px; */
}

.coursedesc ul {
    /* width: 90%; */
    /* margin: auto; */
}

@media screen and (max-width:990px) {
    /* .coursedesc ul { */
    /* width: 50%; */
    /* } */
}

.coursedesc ul li {
    text-align: left;
    list-style-position: outside;
}

/* courses */

.registermain section.title {
    position: relative;
    overflow: hidden;
}

@media all and (min-width:939px) {
    .registermain section.title:before {
        position: absolute;
        left: 20px;
        top: 30px;

        width: 250px;
        height: 80px;

        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
    font-size: 20px;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-pane p {
    font-size: 18px;
}

.tab-content {
    padding: 20px
}

#tutoring {
    font-size: 1.3em;
}

.general {
    padding: 0px 20px;
    border: solid #1F85F3 2px;
    text-align: left;
    font-size: 18px;
}

.calendar {
    margin-top: 30px;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

#competition a img {
    width: 100%;
}

#earn_college_credit a img {
    width: 100%;
}

.classdate pre {
    background-color: #E88E5A;
    color: white;
}

/* camps */

#camps .title {
    text-align: center;
    padding: 20px;
}

#camps .main {
    width: 95%;
    margin: auto;
}

@media screen and (max-width:990px) {
    #camps .main {
        width: 100%;
    }
}


#camps h1 {
    color: #2C3E50;

    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 40px;
}

#camps .tab-pane {
    font-size: 18px;
}

/* registration */

.coursetitle a {
    color: white;
    text-decoration: underline;
}

.coursetitle a:visited {
    color: white;
    text-decoration: underline;
}

#register {
    text-align: left;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    /* background-color: #1BA7E2; */
    /* background-color: #4f894f; */
    /* color: white; */
    position: relative;
}

#register section.title {
    text-align: center;
    color: #2c3e50;
}

#register section.promotion {
    position: absolute;
    background-color: lightsalmon;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    color: red;
    font-size: 1.8em;
    line-height: 50px;
    text-align: center;
    padding-left: 50px;
}

#register section.registermain {
    width: 95%;
    margin: auto;
}

#register section.title h1 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 38px;
}

#register section.coursereg {
    overflow: auto;
    margin-top: 50px;
}

#register .col1 {
    width: 20%;
    padding-right: 50px;
    padding-bottom: 50px;
    float: left;
    clear: left;
}

#register .col2 {
    width: 80%;
    /* width: 50%; */
    padding-right: 50px;
    padding-bottom: 50px;
    float: left;
    overflow: auto;
}

@media screen and (max-width:990px) {
    #register .col1 {
        width: 100%;
    }

    #register .col2 {
        width: 100%;
    }

    #register .col3 {
        width: 100%;
    }
}

.download {
    font-weight: bold;
    font-size: 20px;
}

.coursenum {
    margin: 0 auto;
    border: solid 6px #4f894f;
    border-radius: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 70px;
    font-weight: 600;
    color: #4f894f;
    background-color: white;

    width: 100px;
    height: 100px;
}

.courseinfo {
    text-align: left;

    font-size: 1.5em;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.3em;
}

.courseinfo .courseRegStatus {
    background-color: #006CBD;
}

.coursetitle {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 28px;

    padding-bottom: 10px;
}

fieldset {
    margin-bottom: 20px;
}

fieldset.coursetime {
    margin-top: 40px;
}

#register fieldset legend {
    color: orange;
}

#register fieldset.courseprice {
    position: relative;
}

#register fieldset.courseprice:after {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url(../images/special-price-sticker.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: -76px;
    right: -50px;
}

#register fieldset.coursetime ul.list {
    font-family: Courier;
}

#register fieldset.register a.white {
    color: white;
}

.reginfo {
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: space-between; */
}

/* @media screen and (max-width:1200px) { */

/*     .reginfo { */

/*         margin-top: 30px; */

/*     } */

/* } */

form.register {
    text-align: left;
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: center; */
    /* align-items: flex-start; */
}

.reginfo p.cancelreg {
    font-size: 20px;
}


form.register input {
    display: block;

    width: 100%;
    height: 45px;
    font-size: 18px;
    padding-left: 10px;

    margin-bottom: 5px;
}


form.register select#agegroup {
    height: 45px;
    width: 100%;
    padding-left: 10px;

    font-size: 18px;
    color: #A9A9A9;
    background-color: white;
    line-height: 1;
    border-radius: 0;

    margin-bottom: 5px;

    /* border-radius: 0px; */
}

/* @media screen and (max-width:1200px) { */

/*     form.register select#agegroup { */

/*         width: 81%; */

/*     } */

/* } */

form.register hr {
    width: 100%;
    background-color: white;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 25px;

    /* align-self: flex-start; */
}

/* @media screen and (max-width:1200px) { */

/*     form.register hr { */

/*         width: 81%; */

/*     } */

/* } */

form.register #regbutton {
    height: 40px;
    width: 100%;

    margin-top: 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    background-color: #006EBD;
}

/* @media screen and (max-width:1200px) { */

/*     form.register #regbutton { */

/*         width: 81%; */

/*     } */

/* } */

form.register #regbutton:hover {
    cursor: pointer;
    background-color: #00A6E5;
}

#regCourseMsg {
    margin-top: 5px;
    background-color: #006CBD;
    font-size: 1.2em;
}

/*
    <section id="about">
        <h1>About</h1>
        <hr>
        
        <div class="about-text-left">
            Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
        </div>
        <div class="about-text-right">
            Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
        </div>
        <a href="#" class="btn goodlooking">Download Theme</a>
    </section>
*/

#about {
    text-align: center;
    /* background-color: #18bc9c; */
    background-color: #00ABBB;
    padding-top: 50px;
    padding-bottom: 40px;
}

#about h1 {
    color: #fff;

    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 38px;
}

#about .about-text {
    width: 80%;
    margin: 10px auto;

    color: white;
    font-size: 1.5em;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.3em;
    overflow: auto;
}

@media screen and (max-width:990px) {
    #about .about-text {
        width: 80%;
    }
}

#about .about-text-left {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 40px;
}

#about .about-text-left:first-child {
    padding-right: 50px;
}

#about .about-text-left:last-child {
    padding-left: 50px;
}

@media screen and (max-width:1200px) {
    #about .about-text-left:last-child {
        padding-left: 0px;
    }
}

@media screen and (max-width:1200px) {
    #about .about-text-left {
        width: 100%;
    }
}

#about .about-text-left a {
    width: 50%;
    text-align: left;
    color: white;
}

#about p.security {
    color: #2B3E51;
}

#about a.btn {
    clear: left;

    display: block;
    margin: 20px auto;
    text-decoration: none;
    width: 200px;
    height: 50px;

    border: 2px solid 4px;
    color: white;

    text-align: center;

    line-height: 50px;

    font-size: 1.1em;

    border: solid white 2px;
    border-radius: 5px;
}

/*<section id="contactform">
            <h1>Contact me</h1>
            <hr class="star-primary">
            <form action="#">
               <div class="row">
                   <input type="text" name="name" placeholder="Name">
               </div>
                <div class="row">
                    <input type="email" name="email" placeholder="Email Address">
                </div>
                <div class="row">
                    <input type="text" name="message" placeholder="Message">
                </div>
                <button type="submit">Send</button>
            </form>
        </section>
*/

#contactform {
    text-align: center;
    padding-top: 50px;
}

#contactform form {
    /* background-color: #E4E4E4; */
    /* padding: 10px 10px; */
    /* margin: 50px auto 40px auto; */
    /* width: 70%; */
    /* border-radius: 10px; */
}

#contactform H1 {
    color: #2c3e50;

    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 40px;
}

#contactform .row {
    /* display: block; */
    /* border-bottom: 1px solid #eee; */
    /* text-align: left; */
    /* padding: 5px; */
}

#contactform .row:last-child {
    /* border-bottom: 0; */
}

#contactform input,
#contactform textarea {
    /* display: block; */
    /* width: 100%; */
    height: 50px;
    /* padding: 10px 15px; */
    /* /1* border: 0px; *1/ */
    font-size: 1.5em;
}

#contactform textarea {
    height: auto;
}

#contactform ::-webkit-input-placeholder {
    color: #ACB6C0;
}

#contactform button {
    /* padding: 13px 27px; */
    /* font-size: 2em; */
    /* border-radius: 6px; */
    /* color: #00BD9C; */
    /* background-color: white; */
    /* border: 2px; */
    /* margin: auto; */
    height: 45px;
    font-size: 20px;
    /* border: 2px solid white; */
    border-radius: 6px;
    /* color: white; */
    background-color: #00BD9C;
    color: #00BD9C;
    background-color: white;
}

#contactform button:hover {
    color: white;
    background-color: #00BD9C;
}

/* contact */

#otherwaycontact {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: auto;
    padding: 50px 0px;
}

#otherwaycontact h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

#otherwaycontact p {
    margin: 0 auto;

    font-size: 1.3em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-weight: 500;
}

#otherwaycontact address {
    font-size: 1.2em;
}

#otherwaycontact section.col1 {
    text-align: center;
}

#location figure {
    width: 400px;
    margin: auto;
    -webkit-box-shadow: 10px 15px 20px #888888;
    box-shadow: 10px 15px 20px #888888;
}

#contactemail {
    margin-bottom: 40px;
}

#contactemail i,
#contactPhone i {
    color: #0098D4;
}

#location {
    margin-bottom: 50px;
}

#otherwaycontact section.col1 a {
    color: black;
}

#otherwaycontact section.col2 {
    text-align: center;
}

#sendMsgResponse {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.3em;
}

#sendMsgResponse.success {
    color: #62CE39;
}

#sendMsgResponse.error {
    color: red;
}

footer {
    background-color: #213141;
    color: white;
    text-align: center;
    font-size: 16px;

    padding: 20px;
}

#aboutfreelance p {
    margin: 0 auto;

    font-size: 1em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    font-weight: 300;
}


#scroll-text ul {
    list-style: none;
    animation: scroll 10s infinite;
    /*    animation-timing-function: cubic-bezier(.98, 0, .02, 1);*/
    animation-timing-function: cubic-bezier(.92, 0, .19, 1);
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    33.33% {
        transform: translateY(-25%);
    }

    66.66% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(-75%);
    }

}


#scroll-text {
    height: 67px;
    overflow: hidden;
}
