        #mynetwork {
            width: 100%;
            height: 800px;
            overflow: auto;
            /*            border-left: solid 100px skyblue;*/
            /*            border-right: solid 100px skyblue;*/
        }

        @media all and (max-width:600px) {
            #mynetwork {
                height: 300px;
            }
        }
